<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CNAB Processor</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <style type"text/css">.hide { display: none }</style>
  </head>

  <body>
    <div class="ui container">
      <%== render "menu" %>
      <div class="ui segment">
        <%== yield %>
      </div>
    </div>
  </body>
</html>
